<html>
  <head>
    <title>Workflows</title>
  </head>
  <body>
    <h1>Workflows</h1>
    <form action="/launch/" method="POST">
      {% csrf_token %}
      <input type="submit" value="Launch" />
    </form>

    <h2>Workflows</h2>
    <ul>
      {% for workflow in workflows %}
        <li>
          {{ workflow.id }}
          {{ workflow.type }}
          {{ workflow.started_at }}
          {{ workflow.status }}
        </li>
      {% endfor %}
    </ul>

    <!--
    <h2>Task Results</h2>
    <ul>
      {% for task_result in task_results %}
        <li>
          {{ task_result.task_id }}
          {{ task_result.task_name }}
          {{ task_result.status }}
          {{ task_result.date_done }}
        </li>
      {% endfor %}
    </ul>
    -->
  </body>
</html>

