{% extends 'base.html' %}

{% block content %}

  <h1>Workflow Viewer</h1>

  <form action="/launch/" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Launch" />
  </form>

  <h2>Workflows</h2>
  <a href=".">Refresh this list</a>
  <ul>
    {% for workflow in workflows %}
      <li>
        {{ workflow.id }}
        {{ workflow.type }}
        {{ workflow.started_at }}
        {{ workflow.status }}
        {% if workflow.tasks.exists %}
          <ul>
            {% for workflow_task in workflow.tasks.all %}
              <li>
                {{ workflow_task.task_id }}
                {{ workflow_task.started_at }}
                {{ workflow_task.finished_at|default:"running" }}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

{% endblock content %}
