{% extends 'base.html' %}

{% block content %}

  <h1>Workflow Manager</h1>

  <form action="/launch/" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Launch" />
  </form>

  <h2>Workflows</h2>
  <ul>
    {% for workflow in workflows %}
      <li>
        {{ workflow.id }}
        {{ workflow.type }}
        {{ workflow.started_at }}
        {{ workflow.status }}
      </li>
    {% endfor %}
  </ul>

  <a href=".">Refresh this list</a>

{% endblock content %}
